# files used in tuning: store results for more detail.  Machine-specific; NO need to save them
2NByNBlockSizes
2NByNGrowthParameters
e9By5Threshold
e7By4Threshold
BestThresholds

# executables
*.exe
*.obj
*.dll
*.exp
*.lib

# reference
*.pdb
*.log
*.tlog

# directories to ignore
.vs/
Debug/
Release/
x64/